*{
    margin: 0;
    padding: 0;

}
.contact{
    width: 100vw;
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#478aca;
}
.edumail{
    margin: 0 200px;
    color: rgb(241, 241, 241);

}
.ques-mail{
    display:flex;
    align-items: center;
}
.ques-mail div{
    font-size: 30px;
    color: rgb(227, 233, 237);
}
.prob-mail div{
    font-size: 30px;
    color:rgb(241, 241, 241);
}
.prob-mail{
    display: flex;
    align-items: center;

   
}
.map-details{
    display: flex;
    flex-direction: column;
}
.post-logo svg{
    height: 100%;
    position: relative;
}
.post-logo{
    position: relative;
    height: 100%;
}
.problem{
    color: rgb(241, 241, 241);
}
.venue{
    position: relative;
    /* left:50%; */
    width: 100%;
    text-align: center;
    margin: 5px auto;
    color: rgb(241, 241, 241);
   background-color: #478aca;
    font-size: 50px;
}
.map{
    position: relative;
    width: 100vw;
    height:auto;
    box-sizing: border-box;
}
.map img{
    object-fit: cover;
    width: 100vw;
    height: 50vh;
}

@media screen and (max-width:500px){
    .contact{
        flex-direction: column;
     height: 80vh;
    }
    .edumail{
        margin-top: 100px ;
        text-align: center;
    }
    .problem{
        margin-top: 10px;
        text-align: center;
    }
    .venue{
        margin:80px auto;
        width: 100%;
        text-align: center;
        left: 0;
    }
}