@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kablammo&family=Montserrat:wght@600&family=Poppins&family=Readex+Pro:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;

}
.contact{
    width: 100vw;
    min-height: 70vh;
    position: relative;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    

}.phone span{
    display: flex;
    align-items: center;
}
.phone{
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    padding: 10px 30px;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-data{
    width: 600px;
    display: flex;
    box-shadow:2px 3px 20px black;
        background-color: #4f6a82;
        padding: 20px;
        color: #fff;
        border: 4px solid #5d5da6;
        border-radius: 10px 10px 0 0;
}
.inner-contact h3{
    margin: 20px 0;
    box-shadow: inset 2px 2px   20px rgb(159, 159, 159);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    width: 100%;
    font-size: 2rem;
    color: rgb(54, 130, 218);
    font-family: "Poppins", sans-serif;


}
.inner-contact h3::after{
    position: relative;
    left: 0;
    right: 0;
    height: 10px;
    background-color: black;
}
.pic p{
    padding:5px 14px ;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 1.4rem;
}
.pic img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width:1000px){
    .contact{
        flex-direction: column;
     height: 80vh;
    }
    .edumail{
        margin-top: 100px ;
        text-align: center;
    }
    .problem{
        margin-top: 10px;
        text-align: center;
    }
    .venue{
        margin:80px auto;
        width: 100%;
        text-align: center;
        left: 0;
    }
}