.load-box {
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  justify-content: center;
}

.loader {
  position: relative;
  display: flex;
}
.loader span {
  position: relative;
  width: 250px;
  height: 250px;
  background: #eaeef0;
  border: 6px solid #eaeef0;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1),
    8px 8px 25px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  overflow: hidden;
}
.loader span::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.5),
    inset -5px -5px 15px rgba(255, 255, 255, 1);
  inset: 0;
}
.loader span::after {
  content: "";
  background: #eaeef0;
  border: 3px solid #eaeef0;
  position: absolute;
  inset: 40px;
  border-radius: 50%;
  border: 3px solid #eaeef0;
  box-shadow: -8px -8px 25px rgba(255, 255, 255, 1),
    8px 8px 25px rgba(0, 0, 0, 0.25), inset 3px 3px 10px rgba(0, 0, 0, 0.15),
    inset -1px -1px 15px rgba(255, 255, 255, 1);
}
.loader span i {
  position: absolute;
  background: linear-gradient(#42abff, #ff4f8b, #ffeb3b);
  filter: blur(5px);
  inset: 0;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rock {
  position: absolute;
  inset: 50px;
  z-index: 10;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}
.rocket-icon {
  position: absolute;
  color: #ff518c;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
  animation: animaterocket 0.2s linear infinite;
}
@keyframes animaterocket {
  0%,
  100% {
    transform: translate(0px, 0px) rotate(-45deg);
  }
  50% {
    transform: translate(0px, 3px) rotate(-45deg);
  }
}
.cloud {
  position: absolute;
  top: calc(35px * var(--i));
  left: calc(50px * var(--i));
  font-size: 2em;
  color: #99254c;
  -webkit-text-stroke: 2px black;
  animation: animateclouds 1s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
}

@keyframes animateclouds {
  0% {
    transform: translateY(calc(-35 * 5px));
  }
  100% {
    transform: translateY(calc(35 * 5px));
  }
}
