.profile-test {
  background: rgb(17,83,177);
  background: linear-gradient(0deg, rgba(17,83,177,1) 2%, rgba(8,8,131,1) 47%, rgba(7,2,96,1) 100%); 
  width: 380px;
  height: 200px;
  position: relative;
  margin: 20px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  /* z-index: 2; */
  flex-direction: column;
  box-shadow:0px 2px 27px 2px black;
  align-items: center;
  min-height: 500px;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  transition: all 0.5s;
  /* justify-content: space-around; */
}

.leftarrow {
  left: 20px;
}

.tname {
  position: relative;
  /* transform: translateY(-5rem); */
  color: white;
}
.content p{
  font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  text-decoration: underline;
}
.rightarrow {
  right: 20px;
}
.arrow {
  position: absolute;
  color: white;
  z-index: 10;
  top: 50%;
}
.cimg {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cimg img {
  border: 3px solid white;
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  transition: all 0.5s;
  z-index: 5;
}

.name {
  position: relative;
}
.designation {
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.imgactive {
  transform: scale(150.7%) !important;
  z-index: 10000 !important;
  transition: transform 0.5s;
}

.showtestbox {
  /* clip-path: circle(90%) !important; */
  animation: clip 0.5s ease forwards !important;
  width: 900px !important;
  height: 700px !important;
  visibility: visible !important;
  position: absolute;
  top: 16% !important;
  right: 30%;
  opacity: 1 !important;
  
}
.active-member {
  filter: none !important;
  
}

.test-cbox {
  position: fixed;
  display: flex;
  align-items: center;
  width: 800px;
  top: 30%;
  height: 700px;
  box-shadow: 2px 2px 30px rgb(81, 81, 81);
  background: #020024;
  background: linear-gradient(168deg,#020024,#090979 35%,#00d4ff);
  flex-direction: column;
  justify-content: space-around;
  visibility: hidden;
  opacity: 0;
  top: 0;
  animation-fill-mode: forwards;
  clip-path: circle(0px at 0px 0px);
  border-radius: 3rem;
  z-index: 1005;
}

@keyframes clip {
  10% {
    clip-path: circle(20%);
    transform: translateY(-50%);
  }
  100% {
    clip-path: circle(90%);
    transform: translateY(0%);
  }
}

.links {
  position: absolute;
  bottom: 60px;
  color: white;
}
.content {
  position: relative;
  transform: translateY(60px);
  bottom: 10%;
  font-size: 1.5rem;
  text-align: center;
  overflow: scroll;
 margin: 20px auto;
  padding: 20px 50px;
}
.content div{
  margin: 10px auto;
}
.abstract{
  margin: 5px auto;
  padding: 5px 0;
}
.abstractpara{
  padding: 10px ;
  text-align: justify;
  font-size: 1.3rem;
}
.info {
  position: relative;

  z-index: 100;

  transform: translate(140px, -130px);
  color: white;
}

.infoshow {
  position: absolute;
  right: 9%;
  z-index: 1009;
  transform: translate(94%, 9%);
  color: white;
  top: 5%;
}
.tdesignation {
  color: white;
  margin: 25px auto;
  padding: 6px 0;
  /* transform: translateY(-5px); */
  position: relative;
}

@media  screen and (max-width:500px) {

  .showtestbox{
    width: 98% !important;
    height: 700px !important;
    top: 6% !important;
    right: 0 !important;
    margin: 0 auto;
  }
  .info{
right: 15%;
  }
  .links{
    bottom: 10px;
  }
  .col-name{
    margin: 10px auto;
  }
  .imgactive img{
    width: 100px;
    height: 100px;
  }
}