@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
.nav {
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 3px 20px #020202;
  border-radius: 0 0 20px 20px;
  display: flex;

  text-decoration: none;
  background-color: #4573df;
  background: linear-gradient(
    180deg,
    rgb(103, 236, 235) 0%,
    rgb(25, 137, 230) 0%,
    rgb(57, 197, 240) 83%
  );
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}
.bar:hover {
  background: #ffffff;
  color: #4573df;
}
.banner *{
  margin: 10px 0 !important;
}
.nitname {
  overflow: hidden;
  /* padding: 5px 0; */
  height: 38px;
}
/* .bar: */
.nitjname {
  position: relative;
  display: block;
  font-weight: 800 !important;
  /* transform: translateY(-5px); */

  /* display: none; */
  animation: logovisible 10.9s ease-in-out infinite;
  /* animation-delay: 2.7s; */
}
@keyframes logovisible {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  10% {
    transform: translateY(0px);
    opacity: 1;
  }
  30% {
    transform: translateY(0px);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-34px);
    opacity: 0.8;
  }
  60% {
    transform: translateY(-34px);
    opacity: 0.9;
  }
  70% {
    transform: translateY(-34px);
    opacity: 1;
  }
  80% {
    transform: translateY(-34px);
    opacity: 0.8;
  }
  90% {
    transform: translateY(0px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.options {
  display: flex;
  margin: auto 0;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.active-tab {
  margin: 0px 10px;
  text-decoration: none;
  color: rgb(45, 100, 202);
  border-radius: 4px;
  background: #ffffff;
  padding: 3px 8px;
  font-size: 14px;
}
.bar {
  margin: 0px 10px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 3px 8px;
  font-size: 14px;
}
.logo {
  position: relative;
  left: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;

  margin: 10px;
  min-width: 50%;
  padding: 4px 0;
}
.unto {
  position: absolute;
  right: 118px;
  top: 20px;
  z-index: 170;
}

.burger button {
  border: none;
  background: transparent;
  width: 30px;
}
.burger {
  margin: auto 15px;
}
.burger svg {
  position: relative;
  width: 30px;
}

.menu {
  background-color: #2b5d99d5;
  /* color:#3B6293; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  right: 0;
  top: 114%;
  height: 500px;
  width: 200px;
  border-radius: 10px;
}
.logo img {
  width: 80px;
  height: 80px;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
 
  .nitname {
   
    font-size: 12px;
    height: 43px;
   
  }

}
