.paper {
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  position: relative;
  min-height: 100vh;
  display: flex;
}

.cssbox {
  position: relative;
  width: 100%;
  flex-direction: column;
  display: flex;
  margin: 80px auto;
  /* top: 6%; */
  align-items: center;
  /* min-height: 80vh; */
}
.paper-h1 {
  width: 100%;
  margin: 20px auto;
  position: relative;
}
.cssbox h1 {
  text-align: center;
}
.ulone {
  border: 2px solid rgb(87, 87, 87);
  border-radius: 10px;
  width: 80vw;
  position: relative;
  display: flex;
  height: 49vh;
  margin: 15px 20px;
}
.PAPER-IMG {
  position: absolute;
  right: 0%;
  height: 100%;
z-index: -1;
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.ulone img {
  width: 100%;
  height: 80%;
}

.h2{
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: white;
}

.h2 ::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(67, 126, 193);
  
}
.paper-details ul {
  margin: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.paper-details li {
  color: rgb(88, 88, 88);
  font-size: 20px;
  margin: 0px 20px;
}
.paper-details h2 {
  font-size: 30px;
  font-weight: 600;
  color: rgba(55, 55, 55, 0.838);
  border-left: 5px solid rgb(78, 117, 190);
}
.paper-details {
  margin: 40px 0;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.paper-foot {
  position: relative;
  bottom: 0;
}

@media screen and (max-width:500px) {
  .ulone{
  height: auto;
    width: 90vw;
    display: block;
  }
  .PAPER-IMG{
    position: relative;
    width: 100%;
    /* display: block; */
    height: fit-content;
  }
}