

.paper{
    width: 100vw;
    position: relative;
    height: 100%;
}

.cssbox{
    position: relative;
    width: 100%;
    top:15%;
    flex-direction: column;
    display: flex;
    padding: 5% 0;
    align-items: center;
    height: 100%;
}
.cssbox h1{
    text-align: center;
}
.ulone{
    border: 2px solid rgb(87, 87, 87);
    border-radius: 10px;
    width: 100%;
    position: relative;
    display: flex;
    
    height: 49vh;
    margin: 15px 20px;
}
.PAPER-IMG{
    position: absolute;
    right: 0%;
    height: 100%;

    width: 40%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.ulone img{
    width: 100%;
    height: 80%;
}

.h2 ::after{
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(67, 126, 193);
}
.paper-details ul{
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.paper-details li{
    color: rgb(88, 88, 88);
    font-size: 20px;
    margin: 0px 20px;
}.paper-details h2{
    font-size: 30px;
    font-weight: 600;
    color: rgba(55, 55, 55, 0.838);
    border-left: 5px solid rgb(78, 117, 190);
}
.paper-details{
 
    width: 90%;
    margin: 40px 0;
    height: 90%;
    position: relative;
    display:flex ;
    flex-direction: column;
}

.paper-foot{
    position: relative;
    bottom: 0;
}