.slider {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* top: 90px; */
}
.slider-img{
  width: 100vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
  filter: brightness(40%);
}
.slider h1 {
  position: absolute;
  top: 20%;
  font-weight: 900;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 auto;
}
.date {
  color: white;
  position: absolute;
  font-weight: 900;
  font-size: 30px;
  top: 40%;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.date-2 {
  margin: auto;
}

.uname {
  /* position: absolute; */
  /* top:47%; */
  color: white;
  font-weight: 900;
  font-size: 30px;
  margin: auto;
}

.comm {
  position: absolute;
  top: 53%;
}
.comm p {
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-align: center;
}
.reg {
  color: white;
  position: absolute;
  font-weight: 900;
  bottom: 20%;
  margin: auto;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg p{
    margin: 0 15px;
}
